/* cursor sobre textos y sombras */
/* cursor sobre botones y textos resaltados */
/* fondo pagina */
/* fondo botones y subtitulos */
/* fondo forms */
header {
  background: #f5f3f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  margin-top: 0;
  margin-bottom: 0; }
  header section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; }
    header section nav ul li {
      list-style-type: none;
      font-size: medium;
      display: inline; }
      header section nav ul li a {
        text-decoration: none;
        color: black;
        padding-right: 40px;
        transition: all .5s; }
        header section nav ul li a:hover {
          color: #bc97a8d7; }

.logobusqueda, .logocarrito {
  margin-right: 20px; }

footer {
  background: #f5f3f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  margin-top: 0;
  margin-bottom: 0; }
  footer div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: medium; }

.logoinstagram {
  padding-top: 5px;
  margin-left: 30px; }

.logoemail, .logotelefono {
  margin-right: 10px; }

main {
  font-family: Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 0; }

#mainMicuenta {
  background-image: url("../assets/img/imagenbg2.png");
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

/* TITULOS Y TEXTOS*/
h1 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 30px;
  margin: 55px;
  font-weight: bold; }

.titulos {
  margin: 25px;
  font-size: x-large; }

.subtitulos {
  background-color: #e7dde2;
  font-size: medium;
  margin-left: 5px;
  border-radius: 10px;
  line-height: 100%;
  padding: 8px;
  letter-spacing: .5px;
  line-height: 25px; }

.textoProducto {
  font-size: medium;
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-bottom: 30px; }

.textoFaqs {
  background-color: #f5f3f2;
  font-size: medium;
  border-radius: 10px;
  letter-spacing: 1px; }

.infocompra {
  line-height: 100px;
  letter-spacing: 2px;
  box-shadow: 0 0 9px darkgrey;
  border-radius: 25px;
  display: inline;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px; }

.newin {
  display: flex;
  justify-content: center; }

.precio {
  color: #8e6f7d;
  font-size: large;
  font-weight: bold; }

/* IMAGENES*/
.imgProducto, .newInImg {
  margin: 30px;
  border-radius: 15px; }

#imgProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.newInImg {
  display: flex;
  justify-content: center; }

.portada {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap; }

#imgNosotros {
  padding-left: 30px;
  padding-top: 65px; }

/* BOTONES*/
.botonCompra {
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #e7dde2;
  transition: all .5s;
  padding: 5px 20px 5px 20px;
  color: black; }

.botonCompra:hover {
  background-color: #8e6f7d;
  color: white; }

.logoemail {
  size: 25px; }

.logotelefono {
  font-size: 25px; }

#infocompras {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center; }

/* FORMS */
iframe {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap; }

section form div {
  font-size: 18px;
  text-decoration: underline; }

form {
  width: 600px;
  padding: 16px;
  border-radius: 10px;
  margin: 25px;
  background-color: #e1e1e1; }

form label {
  width: 450px;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px; }

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
  width: 200px;
  padding: 3px 10px;
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block; }

form input[type="submit"], form input[type="reset"] {
  width: 25%;
  padding: 8px 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 5px;
  color: white;
  background-color: black;
  display: inline-block; }

form input[type="submit"], form input[type="reset"]:hover {
  cursor: pointer; }

/* MEDIAQUERIE */
/*MOBILE*/
@media only screen and (max-width: 768px) {
  header, footer div, .gridIndex, .newInImg, .gridMicuenta, .gridMayoristas, .gridNosotros {
    display: flex;
    flex-direction: column; }
  .infocompra {
    line-height: 20px;
    letter-spacing: 5px;
    padding: 15px;
    box-shadow: 0 0 9px darkgrey;
    border-radius: 5px; }
  #infocompras {
    display: flex;
    flex-wrap: wrap; }
  form, form label, form h4, input {
    width: 300px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap; }
  .imgProducto, .newInImg {
    margin-right: 0;
    margin-left: 0; } }

/*TABLET*/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: white; } }

/*DESKTOP*/
