footer {
	background: $bgPrimario;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: smaller;
	margin-top: 0;
	margin-bottom: 0;
        div {
        @include displayYjustify (flex, space-around);
        flex-direction:row;
        align-items:center;
        font-size: map-get($tamañoFuente , mediana);
    }
}

.logoinstagram {
    padding-top: 5px;
    margin-left: 30px;
    }

.logoemail,.logotelefono {
margin-right: 10px;
}

