header {
	background: $bgPrimario;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}
    .navbar-nav,.navbar-center {
        float: left;
        margin: 0;
        left: 50%;
        transform: translatex(-50%);
        position: relative;
    }       
        .form-search {
            margin: 0;
            display: flex;
            width:300px;
            padding: 3px;
        }

/*Cambio de color en navbar*/
/*.navbar-light {
    text-decoration: none;
    color: black;
    padding-right: 40px;
    transition: all .5s;
    &:hover {
        color:$colorPrimario;
}
}
*/