$colorPrimario:#bc97a8d7 ; /* cursor sobre textos y sombras */
$colorSecundario: #8e6f7d; /* cursor sobre botones y textos resaltados */
$bgPrimario:  #f5f3f2; /* fondo pagina */
$bgSecundario: #e7dde2; /* fondo botones y subtitulos */
$bgTerciario:#e1e1e1 ; /* fondo forms */
$colorNegro: black;  
$colorBlanco: white;
$colorGris: darkgrey;



