@import "variables";
@import "mixins";
@import "maps";
@import "header";
@import "footer";

main {
	font-family: Tahoma, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

#mainMicuenta {
	background-image: url("../assets/img/imagenbg2.png");
	height: 100%;
	display: flex;
	flex-wrap: wrap;

}

/* TITULOS Y TEXTOS*/

h1 {
	text-align: center;
	letter-spacing: 3px;
	font-size: 30px;
	margin: 55px;
	font-weight: bold;
}

.titulos {
	margin:25px;
	font-size: x-large;
}

.subtitulos {
	@include bgroundYfsize ($bgSecundario,medium);
	margin-left: 5px;
    border-radius: 10px;
	line-height: 100%;
	padding: 8px;
	letter-spacing: .5px;
	line-height: 25px;
}

.textoProducto {	
	font-size: medium;	
	text-align: center;	
	@include displayYjustify (inline-block, center);
	margin-bottom: 30px;
}

.textoFaqs {
	@include bgroundYfsize ($bgPrimario,medium);
	border-radius: 10px;
	letter-spacing: 1px;
	}

.infocompra { 
	line-height: 100px;
	letter-spacing: 2px;
	box-shadow: 0 0 9px $colorGris;
	border-radius: 25px;
	display: inline;
	@include displayYjustify (flex, center);
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
	}	

.newin {
	@include displayYjustify (flex, center)
	}

	.precio {
		color: $colorSecundario;
		font-size: large;
		font-weight: bold;
	}

/* IMAGENES*/
.imgProducto  {
	margin: 20px;
	border-radius: 15px;
}

#imgProductos {
	@include displayYjustify (flex, center);
	flex-wrap: wrap;
}

.newInImg{
	@extend .imgProducto;
	@include displayYjustify (flex, center)
	}

.portada {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
}

#imgNosotros {
	padding-left: 30px;
	padding-top: 65px;
	}

/* BOTONES*/

.botonCompra {
	text-align: center;
	border-radius:20px;
	margin-top: 10px;
	background-color: $bgSecundario;
	transition: all .5s;
	padding: 5px 20px 5px 20px;
	color: $colorNegro;
}

.botonCompra:hover {
	background-color: $colorSecundario;
	color: $colorBlanco;
}

.logoemail{
	size: 25px;
	}

.logotelefono {
	font-size: 25px;
	}
	
#infocompras {
	margin-top: 20px;
	margin-bottom: 60px;
	@include displayYjustify (flex, center)
	}

/* FORMS */

#inicioSesion {
	display: flex;
	justify-content: center;
}
iframe {
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
}

section form div {
font-size: 18px;
text-decoration: underline;
}

form {
	width:600px;
	padding:16px;
	border-radius:10px;
	margin:25px;
	background-color: $colorGris;

}

form label{
	width:450px;
	display:inline-block;
	margin-top: 15px;
	font-size: 15px;
	
}

form input[type="text"],
form input[type="email"] , 
form input[type="tel"] , 
form input[type="password"]
{
	width:200px;
	padding:3px 10px;
	border:1px solid $colorBlanco;
	border-radius:3px;
	display:inline-block;
}

form input[type="submit"],form input[type="reset"]
{
	padding:8px 16px;
    margin-bottom: 10px;
	margin-top: 10px;
	border-radius:5px;
	color: $colorBlanco;
	background-color:$colorNegro;
	display:block;
} 

form input[type="submit"],form input[type="reset"]:hover{
	cursor:pointer;
}

.margenesForms {
	margin-top: 15px;
	margin-bottom: 5px;
}


form, form label, form h4, input {
    width: 250px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}

/* MEDIAQUERIE */
/*MOBILE*/
@media only screen and (max-width: 768px) {
header, footer div, .gridIndex, .newInImg, .gridMicuenta,.gridMayoristas, .gridNosotros   { 
	display: flex;
	flex-direction: column;
}


.infocompra { 
	line-height: 20px;
	letter-spacing: 5px;
	padding: 15px;
	box-shadow: 0 0 9px $colorGris;
	border-radius: 5px;
}

#infocompras {
display: flex;
flex-wrap: wrap;
}

form, form label, form h4, input  {
		width:300px;
		padding:8px;
		display: flex;
		flex-wrap: wrap;
}

.imgProducto {
	margin-right: 0;
	margin-left: 0;
}


}

/*TABLET*/
@media only screen and (min-width: 769px) and (max-width: 1023px){
    body {background-color: $colorBlanco;}


	.logobusqueda,.logocarrito {
		margin-top: 0;
	}
}

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
}
